
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

    <title>Stuttr - Alle Posts</title>

      <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" media="screen" rel="stylesheet"/>

    <link th:href="@{/css/profile.css}" rel="stylesheet"/>
    <link th:href="@{/css/posts.css}" rel="stylesheet"/>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stuttr</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button type="button" class="btn btn-dark new-post" aria-label="Post schreiben">
              Post schreiben <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </button>
            </li>
            <li class="active"><a href="#">Alle Posts</a></li>
            <li><a href="#">Mein Stream</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Suchen..."/>
              <span class="input-group-btn">
                <button class="btn btn-default searchbutton" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <div class="posts">
            <div class="page-header">
              <h1>Posts <small>aller Nutzer</small></h1>
            </div>

            <div class="post thumbnail">
              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 img-circle">
                  <img th:src="@{/images/profile-pictures/52.png}" alt="profile-pic" class="img-circle profile-picture" width="65px" height="65px"/>
                </div>
                <div class="col-xs-10">
                  <p class="user-name">@Mauzi</p>
                  <p class="time">19.3.2016 - 20:52 Uhr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <div class="post-content">
                    <p>Das war mal wieder ein Schuss in den Ofen. (´･ω･`) #Schnauf </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="post thumbnail">
              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 img-circle">
                  <img th:src="@{/images/profile-pictures/52.png}" alt="profile-pic" class="img-circle profile-picture" width="65px" height="65px"/>
                </div>
                <div class="col-xs-10">
                  <p class="user-name">@Mauzi</p>
                  <p class="time">19.3.2016 - 20:37 Uhr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <div class="post-content">
                    <p>Wir haben Pikachu gefangen. #TeamRocketRulez *miautz*</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="post thumbnail">
              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 img-circle">
                  <img th:src="@{/images/profile-pictures/52.png}" alt="profile-pic" class="img-circle profile-picture" width="65px" height="65px"/>
                </div>
                <div class="col-xs-10">
                  <p class="user-name">@Mauzi</p>
                  <p class="time">19.3.2016 - 18:10 Uhr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <div class="post-content">
                    <p>In Alabasta ist ein großes Pokemon Turnier. Mal sehen, ob #TeamRocket dort etwas abstauben kann.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div class="post thumbnail">
              <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-1 img-circle">
                  <img th:src="@{/images/profile-pictures/52.png}" alt="profile-pic" class="img-circle profile-picture" width="65px" height="65px"/>
                </div>
                <div class="col-xs-10">
                  <p class="user-name">@Mauzi</p>
                  <p class="time">14.3.2016 - 02:16 Uhr</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                  <div class="post-content">
                    <p>Insgeheim möchte ich ja die Lieblingskatze vom Boss sein.</p>
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
    </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  </body>
</html>
