
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" th:href="@{/images/favicon.ico}"/>

    <title>Stuttr - Register</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
    <link th:href="@{/css/style.css}" href="/css/style.css" type="text/css" rel="stylesheet" />

    <link th:href="@{/css/signin.css}" rel="stylesheet" media="screen" />
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="#">Anmelden</a></li>
                  <li class="active"><a href="#">Registrieren</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner-cover">

            <form class="form-signin">
              <h1 class="form-signin-heading">Stuttr</h1>
              <label for="inputUserName" class="sr-only">Benutzername</label>
              <input type="email" id="inputUserName" class="form-control" placeholder="Benutzername" required="true" autofocus="true" />
              <label for="inputPassword" class="sr-only">Passwort</label>
              <input type="password" id="inputPassword" class="form-control form-signin-middle" placeholder="Passwort" required="true" />
              <label for="inputPasswordRep" class="sr-only">Passwort wiederholen</label>
              <input type="password" id="inputPasswordRep" class="form-control" placeholder="Passwort wiederholen" required="true" />

              <button class="btn btn-lg btn-primary btn-block submit" type="submit">Registrieren</button>
            </form>

        </div> <!-- /inner cover-->

          <div class="mastfoot">
            <div class="inner">
              <p>Erfahre mehr über <a href="http://tobscore.com">Stuttr</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
  </body>
</html>
